<div>
  <h1 style="font-family: Arial, sans-serif; font-size: 24px; color: #333;"><%=t('mailers.password_reset.subject')%></h1>
  <p style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    <%= t('mailers.password_reset.body') %>
    <%= link_to t('mailers.password_reset.link_text'), edit_password_url(token: @user.password_reset_token), style: "color: #1a73e8; text-decoration: none;" %>.
  </p>
</div>
