<%= form_with(model: comment, class: "mb-5", url: post_comments_path(comment.post)) do |form| %>
  <%= form.hidden_field :post_id, value: comment.post_id %>

  <div class="mb-3">
    <%= form.rich_text_area :content %>
  </div>

  <div class="d-flex justify-content-end">
    <%= form.submit "Comment", class: 'btn btn-primary px-4' %>
  </div>
<% end %>
