
<div class="container d-flex align-items-center justify-content-center">
  <div class="row justify-content-center w-100">
    <div class="p-4 border rounded d-flex flex-wrap bg-white col-lg-6">
      <%= render 'form', user: @user, usage: :register %>
    </div>
  </div>
</div>
