
<div class="container d-flex align-items-center p-5">
  <div class="row justify-content-center h-100 w-100">
    <div class="p-5 border rounded d-flex flex-wrap bg-white">
      <%= render 'form', user: @user, usage: :register %>
    </div>
  </div>
</div>
