<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div class="container">
  <div class="row">
    <div class="col-lg-8 w-100" id="posts">
      <%= paginate @posts %>
      <% @posts.each do |post| %>
        <%= render post, usage: :index %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "New post", new_post_path %>
